<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/delogo"
        android:label="Doc Easy"
        android:roundIcon="@drawable/delogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doc_easy_1"
        tools:targetApi="31">
        <activity
            android:name=".Consultationdetails"
            android:exported="false" />
        <activity
            android:name=".PostConsultation"
            android:exported="false" />
        <activity
            android:name=".ApplyLeave"
            android:exported="false" />
        <activity
            android:name=".PatientDetails"
            android:exported="false" />
        <activity
            android:name=".AllPatients"
            android:exported="false" />
        <activity
            android:name=".PrescriptionForm"
            android:exported="false" />
        <activity
            android:name=".MyAppointments"
            android:exported="false" />
        <activity
            android:name=".AllDoctors"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetails"
            android:exported="false" />
        <activity
            android:name=".AllAppointments"
            android:exported="false" />
        <activity
            android:name=".DocSignupFrontPage"
            android:exported="false" />
        <activity
            android:name=".DocProf"
            android:exported="false" />
        <activity
            android:name=".AllHandovers"
            android:exported="false" />
        <activity
            android:name=".RecProf"
            android:exported="false" />
        <activity
            android:name=".RecHomePage"
            android:exported="false" />
        <activity
            android:name=".NewAppointmentPageContinued"
            android:exported="false" />
        <activity
            android:name=".NewAppointmentPage"
            android:exported="false" />
        <activity
            android:name=".DocHomePage"
            android:exported="false" />
        <activity
            android:name=".DocLoginPage"
            android:exported="false" />
        <activity
            android:name=".DocSignupPage"
            android:exported="false" />
        <activity
            android:name=".RecLoginPage"
            android:exported="false" />
        <activity
            android:name=".RecSignupPage"
            android:exported="false" />
        <activity
            android:name=".UserType"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>